<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSD_Alkolq</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nav-styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,400&family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Anaheim&family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar-main" id="nav">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Alkolq</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AlcoholProducts/Index">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="">Types of Alcohol</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Beer">Beer</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Red Wine">Red Wine</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="White Wine">White Wine</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Whisky">Whisky</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Vodka">Vodka</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Brandy">Brandy</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Tequila">Tequila</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Gin">Gin</a>
                                <a class="dropdown-item" asp-page="/AlcoholProducts/Types" asp-route-typeName="Rum">Rum</a>
                            </div>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/AuditLogs/Index">Audit Log</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Roles/Index">Role Management</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="float-right">
                <a asp-area="" asp-page="/Privacy">Privacy</a>
                &nbsp;|&nbsp;
                <a asp-area="" asp-page="/Credits">Credits</a>
            </div>
            <p>
                &copy; 2021 - Alkolq
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-maxlength/dist/bootstrap-maxlength.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

