@page
@model SSD_Alkolq.Pages.AlcoholProducts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AlchoholProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlcoholProduct.ID" />
            <div class="form-group">
                <label asp-for="AlcoholProduct.Name" class="control-label"></label>
                <input asp-for="AlcoholProduct.Name" class="form-control" />
                <span asp-validation-for="AlcoholProduct.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholProduct.Type" class="control-label"></label>
                <input asp-for="AlcoholProduct.Type" class="form-control" />
                <span asp-validation-for="AlcoholProduct.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholProduct.Description" class="control-label"></label>
                <input asp-for="AlcoholProduct.Description" class="form-control" />
                <span asp-validation-for="AlcoholProduct.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholProduct.Price" class="control-label"></label>
                <input asp-for="AlcoholProduct.Price" class="form-control" />
                <span asp-validation-for="AlcoholProduct.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholProduct.ListDate" class="control-label"></label>
                <input asp-for="AlcoholProduct.ListDate" class="form-control" />
                <span asp-validation-for="AlcoholProduct.ListDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
