@page
@model SSD_Alkolq.Pages.AlcoholProducts.IndexModel
@{
}

<link rel="stylesheet" href="~/css/alcohol-products.css">

<h1 class="type-title mb-3">Products</h1>

<form class="m-4">
    <div class="form-row align-items-center justify-content-center">
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <div class="col-sm-1 my-1">
                    <button asp-page="./Create" asp-route-id="Model.AlcoholProduct.ID" type="submit" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                </div>
            }
        }
        <div class="col-sm-3 my-1">
            <select asp-for="AlcoholType" asp-items="Model.Type" class="custom-select">
                <option value="" selected>All</option>
            </select>
        </div>
        <div class="col-sm-6 my-1">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" id="search" asp-for="SearchString" placeholder="Search">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>

<div class="row hidden-md-up">
    @foreach (var item in Model.AlcoholProducts)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <a asp-page="./Details" asp-route-id="@item.ID">
                    <img class="card-img-top card-image m-2" src="~/images/@item.ImageName" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text type-alcoholprice">$@Html.DisplayFor(modelItem => item.Price)</p>
                    </div>
                </a>
            </div>
        </div>
        }
</div>
