.type-title {
    font-family: 'Yeseva One', cursive;
    color: black;
    font-size: 50px;
    text-align: center;
}
.type-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 50%;
}

.type-description {
    font-family: 'Anaheim', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

/* For the cards */

.type-card {
    float: left;
    width: 33.33%;
    height: auto;
    outline: hidden;
    margin-bottom: 200px;
}

.type-alcoholinfo {
    margin: 10px;
    align-items: center;
}

.type-alcoholimg {
    width: auto;
    height: 25rem;
    margin: auto;
}

.type-alcoholname {
    font-family: 'Anaheim', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    height: 30px;
    width: 300px;
}

.type-alcoholprice {
    font-family: 'Anaheim', sans-serif;
    font-size: 35px;
    margin-top: 30px;
}
