.navbar-brand {
    font-family: 'Yeseva One', cursive !important;
    font-size: 1.5em;
}

.navbar-main {
    font-family: 'Anaheim', sans-serif !important;
    font-size: 1.4em;
    padding-top: 0.4em;
}

.navbar-main .nav-item {
    padding: 0.5em;
}