* {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Yeseva One', cursive;
    color: black;
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
}

.form-group {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}