* {
    text-align: center;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 3rem;
    margin-top: 4rem;
}

p {
    font-family: 'Anaheim', sans-serif;
    margin-top: 4rem;
    font-size: 1.4rem;
}