@page
@model SSD_Alkolq.Pages.AlcoholTypes.BrandyModel

@{
    ViewData["Title"] = "Brandy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/alcohol_type.css">

<section id="main">
    <h1 class="type-title">Brandy</h1>
    <img src="~/images/brandy.jpg" alt="brandy" class="type-image" />
    <p class="type-description">
        Produced by distilling wine, Brandy generally contains 35-60% alcohol by 
        volume and is typically consumed as an after-dinner digestif to aid digestion. 
        They come is many varieties across the winemaking world with the most renowned 
        ones being Cognac and Armagnac from southwestern France.
    </p>
</section>

<div>
    @foreach (var item in Model.AlchoholProduct)
    {
        if (item.Type == "Brandy")
        {
            <a class="type-card" asp-page="~/AlcoholProducts/Details" asp-route-id="@item.ID">
                <div class="type-alcoholinfo">
                    <img src="~/images/@item.ImageName" , class="type-alcoholimg" />
                    <p class="type-alcoholname">
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p class="type-alcoholprice">
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
                <form asp-page-handler="AddToCart" method="post">
                    <input type="hidden" value="@item.ID" name="id" />
                    <button class="btn btn-primary">Add to Cart</button>
                </form>
            </a>
        }
    }
</div>












