@page
@model SSD_Alkolq.Pages.AlcoholTypes.WhiskyModel
@{
    ViewData["Title"] = "Whisky";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/alcohol_type.css">

<section id="main">
    <h1 class="type-title">Whisky</h1>
    <img src="~/images/whisky.jpg" alt="whisky" class="type-image" />
    <p class="type-description">
        Made from fermented gain mash, Whisky is a type of distilled alcoholic beverage 
        that has at least 40% alcohol per volume. There are two main kinds of whisky, malt 
        and grain, as well as a variety of combinations of the two. A famous example of whisky 
        is Jack Daniel's, which is the top-selling American Whisky in the world.
    </p>
</section>

<div>
    @foreach (var item in Model.AlchoholProduct)
    {
        if (item.Type == "Whisky")
        {
            <a class="type-card" asp-page="../AlcoholProducts/Details" asp-route-id="@item.ID">
                <div class="type-alcoholinfo">
                    <img src="~/images/@item.ImageName" , class="type-alcoholimg" />
                    <p class="type-alcoholname">
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p class="type-alcoholprice">
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
                <form asp-page-handler="AddToCart" method="post">
                    <input type="hidden" value="@item.ID" name="id" />
                    <button class="btn btn-primary">Add to Cart</button>
                </form>
            </a>
        }
    }
</div>
