@page
@model SSD_Alkolq.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<h1>Credits</h1>

<h4>This project is done by:</h4>
<ul>
    <li>Benedict Woo</li>
    <li>Elsa Lee</li>
    <li>Cody Jeow</li>
    <li>Lynn Shaan</li>
</ul>

<p>Special thanks to Mr Saifu, our teacher who guide us through how to copy razor pages code from a word document.</p>