@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/home_page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,400&family=Yeseva+One&display=swap" rel="stylesheet">
</head>


<div class="content-wrap">
    <section id="=header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="alkolq-header">Alkolq</h1>
                <h2 class="sub-header">Every drop counts, when there is a story in every bottle.</h2>
            </div>
        </div>
    </section>
    <div></div>
    <section id="types" class="mb-5">
        <div class="row">
            @foreach (var type in Model.ProductTypes)
            {
                <div class="col-md-4">
                    <a asp-page="/AlcoholProducts/Types" asp-route-typeName="@type.Name">
                        <div class="types-container">
                            <img src="~/images/@type.ImageName" alt="beer" class="image">
                            <div class="overlay">
                                <div class="text-type">@type.Name</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </section>
</div>
