@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="mb-3 text-center">@ViewData["Title"]</h1>

<p class="text-center">This project is made for a school assignment and we do not actually sell alcohol.</p>
